<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtrain">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 联系人信息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 位置信息,精确：ACCESS_FINE_LOCATION，粗略：ACCESS_COARSE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 为了使用OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Wi-Fi P2P 技术虽然不需要访问互联网，但是它会使用标准的 Java socket（需要 INTERNET 权限） -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="true" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主 main/home 活动 (没有上级活动) -->
        <activity android:name=".MainActivity" />
        <!-- 主活动的一个子活动 -->
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- meta-data 用于支持 support 4.0 以及以下来指明上级活动 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtrain.MainActivity" />
        </activity>
        <activity
            android:name=".ShowExchangeFragment"
            android:label="@string/title_activity_show_exchange_fragment" />
        <activity
            android:name=".sql.SqlTestActivity"
            android:label="@string/title_activity_sql_test" />
        <activity
            android:name=".connectApp.ConnectAppActivity"
            android:label="@string/title_activity_connect_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sharefile.ShareFileTest"
            android:label="File Selector">
            <intent-filter>

                <!-- 增加test.test是为了测试action的原理，可查看AndroidTrainAssist -->
                <action android:name="android.intent.action.PICK.test.test" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity
            android:name=".media.ManagePlaybackActivity"
            android:label="ManagePlaybackActivity" />

        <receiver android:name=".media.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity android:name=".media.CameraTestActivity" />
        <activity android:name=".uistyle.UIStyleActivity" />
        <activity android:name=".media.ControlCameraActivity" />
        <activity android:name=".media.SurfaceTest.SurfaceTestActivity" />
        <activity
            android:name=".print.PrintPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_print_photo"
            android:screenOrientation="sensor" />
        <activity android:name=".pictureAnimation.EffectiveBitmapActivity" />
        <activity android:name=".pictureAnimation.bitmaptest.ImageDetailActivity" />
        <activity android:name=".pictureAnimation.opengles.OpenGLES20Activity" />
        <activity android:name=".pictureAnimation.animation.CrossfadeActivity" />
        <activity android:name=".pictureAnimation.screenslide.ScreenSlideActivity" />
        <activity android:name=".pictureAnimation.cardflip.CardFlipActivity" />
        <activity android:name=".pictureAnimation.zoom.ZoomActivity" />
        <activity android:name=".pictureAnimation.layoutchange.LayoutChangesActivity" />
        <activity android:name=".media.testVideo.VideoActivity" />
        <activity android:name=".buildingconnect.connectwirelessly.ConnectNSDActivity" />
        <activity android:name=".buildingconnect.connectwirelessly.WifiDirectActivity" />
        <activity android:name=".textReader.TextReaderActivity" />
        <activity android:name=".buildingconnect.networkOps.NetWorkOpsActivity" />
        <activity android:name=".buildingconnect.networkOps.NetWorkSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".security.AntiHijackActivity" />
        <activity android:name=".buildingconnect.volleyTrain.VolleyActivity" />
        <activity android:name=".location.LocationActivity" />
        <activity
            android:name=".userExperience.designNavigation.CollectionDemoActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".userExperience.designNavigation.TabNavigatorActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".userExperience.designNavigation.NavDrawerActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".userExperience.designNavigation.UpNavigatorActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".userExperience.designNavigation.BackNavigatorActivity" />
        <activity android:name=".userExperience.notifyUser.NotificationBuilderActivity" />
        <activity
            android:name=".userExperience.notifyUser.NotificationResultActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".userExperience.notifyUser.NotificationNavigatorActivity" />
        <activity
            android:name=".userExperience.notifyUser.NotifyResultWithoutStackActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="com.second" />
        <activity android:name=".userExperience.notifyUser.BigNotificationActivity" />

        <service android:name=".userExperience.notifyUser.PingService" />

        <activity android:name=".userExperience.notifyUser.ProgressNotificationActivity" />
        <activity android:name=".uiDesign.createView.CreateViewActivity" />
        <activity android:name=".uiDesign.systemBar.DimSystemBarActivity" />
        <!-- 4.0及以下使用设置主题来隐藏状态栏 android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" -->
        <activity android:name=".uiDesign.systemBar.HideStatusBarActivity" />
        <activity
            android:name=".uiDesign.systemBar.BackgroundFitScreenBarActivity"
            android:theme="@style/WelcomeTheme" />
        <activity android:name=".uiDesign.systemBar.HideNavigatorBarsActivity" />
        <activity
            android:name=".uiDesign.systemBar.ImmersiveActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".uiDesign.materialDesign.MaterialMainActivity"
            android:theme="@style/MaterialMainTheme" />
        <activity android:name=".uiDesign.materialDesign.SecondMaterialActivity" />
        <activity android:name=".uiDesign.materialDesign.RecyclerMaterialActivity"
            android:theme="@style/MaterialBaseTheme"></activity>
    </application>

</manifest>